<hr>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="../Trabajador/Informacion">Información personal</a></li>
            <li role="presentation"><a href="../Trabajador/Liquidaciones">Liquidaciones</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-2">
                    <img src="http://i.imgur.com/psJKICg.png" alt="Foto perfil" class="img-circle img-responsive" style="max-width: 50%;">
                </div>
                <div class="col-md-4">
                    <div class="panel-body">
                        <div class="row">
                            <label>ID: @ViewData["id"]</label>
                        </div>
                        <div class="row">
                            <label>Nombre: @ViewData["nombre"]</label>
                        </div>
                        <div class="row">
                            <label>Run: @ViewData["usuario"]</label>
                        </div>
                        <div class="row">
                            <label>Sexo: @ViewData["sexo"]</label>
                        </div>
                        <div class="row">
                            <label>F. Nacimiento: @ViewData["fecnac"]</label>
                        </div>
                        <div class="row">
                            <label>E. Civil: @ViewData["ecivil"]</label>
                        </div>
                        <div class="row">
                            <label>Profesión: @ViewData["profesion"]</label>
                        </div>
                        <div class="row">
                            <label>Dirección: @ViewData["direccion"]</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

